<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="#{mail.merchant.subject}">Subject</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td style="padding: 40px 0 30px 0;">
            <h1>
                <img th:src="${model.siteLogoUrl}" style="width: 24px"/>
                <span th:text="${model.siteBrandName}">Enigma-Voyages</span>
            </h1>
        </td>
    </tr>

    <tr>
        <td style="padding: 20px;">
            <span th:utext="#{mail.merchant.line1}">A new reservation!!!</span>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px;">
            <table width="100%">
                <tr>
                    <td align="right">
                        <span th:text="${model.formattedOrderDateTime}">12 Jun, 2010</span>
                        <br/>
                        <span th:text="${model.customerName}">Ray Sponsible</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#eaeaea" style="padding: 20px">
            <div style="margin: 10px 0" th:each="line : ${model.lines}">
                <table width="100%">
                    <tr>
                        <td colspan="3">
                            <span th:text="${line.formattedDepartureDate}">2018-01-01</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="40%">
                            <h3 style="margin: 0; padding: 0" th:text="${line.origin.displayName}">Yaounde</h3>
                            <span th:text="${line.formattedDepartureTime}">07:30</span>
                        </td>
                        <td><h3 style="margin: 0; padding: 0">&rarr;</h3></td>
                        <td width="40%">
                            <h3 style="margin: 0; padding: 0" th:text="${line.destination.displayName}">Douala</h3>
                            <span th:text="${line.formattedArrivalTime}">11:30</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span th:text="${line.merchant.name}" style="text-transform: uppercase">BUCA VOYAGES</span>
                            <br />
                            <span  th:text="${line.quantity}">3</span> <span th:text="#{mail.traveller_s}">Travellers</span><br/>
                            <br />
                            <span th:text="#{mail.booking_no}">Booking #</span>: <b th:text="${line.bookingId}">4309430</b>
                        </td>
                        <td valign="top">
                            <span th:text="${line.formattedTotalPrice}">$350</span>
                        </td>
                    </tr>
                </table>

                <hr />
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding: 40px 0 30px 0;">
            <span th:text="#{mail.total}">Total</span>: <span style="font-size: larger" th:text="${model.formattedTotalPrice}"></span>
        </td>
    </tr>
</table>

<hr />
<div style="font-size: smaller; color: #404040">
    <span th:utext="#{mail.footer.line1}">blablabla</span>
    <br/>

    <span th:utext="#{mail.footer.line2}">blablabla</span>
    <span th:text="${model.siteBrandName}" style="font-weight: bold;">Enigma-Voyages</span>.
</div>
</body>
</html>
